<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stungeye.meowreader" version="0.9.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MeowReader</name>
    <description>
        Photos of cats reading and photos of cats learning how to read. Meow!
    </description>
    <author email="html5mob@gmail.com" href="mobilehtml5.stungeye.com">
        Kyle Geske
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
